@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html,
body {
  font-family: 'Roboto', sans-serif;
  color:var(--primary-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:root {
  --hb-orange: #ff6000;
  --light-gray: #b0b0b0;
  --primary-color:#484848;
}
